.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.fade {
  display:flex !important;
}

.modal-dialog {
  margin: auto !important;
  min-width: 500px !important;
  display:flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.app {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: #f5f5f5;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 872px;
  max-height: 872px;
  margin-bottom: 3vh;
}


.btnEvent {
  width: 200px;
  border-radius: 2px;
}



.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 100%;
  margin-top: 20px;
  margin-right: 5vw;
}

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35vh;
  min-width: 239.3px;
  max-width: 239.9px;
  background-color: #525252;
  margin-bottom: 10px;
  max-height: 100%;
  min-height: 300px;
  overflow: hidden;
}

.Friends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  height: 55vh;
  min-width: 239.3px;
  max-height: 533px;
  min-height: 533px;

  background-color: #ffffff;
  border-style: outset;
}

.friendImages {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0!important;
}
.formEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-header {
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-between!important;
  align-items: center!important;
}

.userGrid {
  min-width: 239.3px;
  max-height: calc(533px - 89px - 47px);
  min-height: calc(533px - 89px - 47px);

  overflow-y: auto;
}

.eventGrid {
  overflow-y: auto;
}

.box {
  min-width: 239.3px;
  overflow-y: auto;
}

.tab-content {
  min-width: 239.3px;
  max-height: 533px;
}


.mainContent {
  min-width: 40vw;
  background-color: #ffffff;
  overflow-y: auto;
  margin-top: 50px;
  font-size: calc(10px + 2vmin);
  color: black;
}

.contentGrid {
}


.myeventHeader{
  border-bottom: 1px solid rgba(0,0,0,.125);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
p{
  max-height: 3vh;
  line-height: 5vh;
}
.userEvents {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 70vh;
  min-width: 239.3px;
  background-color: #ffffff;
  margin-left: 5vw;

}

.Findfriends {
  background-color: #ffffff;
  display: flex;
  white-space: nowrap;
}

.Myfriends{
  max-height: 100%!important;
}



.MainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(.5px + 2vmin);
  color: black;
}

.profileDropdown{

    background-color: #282c34;
    margin-right: 1vw;
}


.profilePic{

    border-radius: 100px;
    max-width: 100px;
    max-height: 100px;
    border: 2px solid black;
}

.name{
  text-align: center;
}

.profileStuff{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  max-height: 100%;
  min-height: 90%;
  background-color: #525252;
}

.profileBody{
  overflow-y: auto;
  max-height: 150px;

  border-top: solid 5px #0098b1;
  border-bottom: solid 5px #0098b1;
  padding: 10px;


}
.loginStyling{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loginImage{
  max-width: 500px;
}
.card-body{
  padding: .75rem !important;
  max-width: 100% !important;
  max-height: 200px;
  word-wrap: break-word!important;

}

.card-text{
  display: flex;
  flex-flow: wrap;
  overflow-y: auto;
  word-wrap: break-word!important;
}

.ptag{
  max-width: 100%!important;
  word-wrap: break-word!important;
}

.boxer{
  overflow-x:hidden !important;
  max-width: 237px !important;
  flex-flow: wrap;
}
.editProfileText{
  min-width: 239.3px;
  max-height: 175px;
  min-height: 175px;
  overflow-y: auto;
}


::-webkit-scrollbar {
    display: none;
}

.space{
  background-color: #0098b1;
  min-height: 10%;
}


p{
  font-size: 15px;
  line-height: 25px;
  max-height: 100%;
}


.navBarDropdown{
  margin-left: 10vw;
}



.Expand{
    display:block;
    width:25px;
    height: 25px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    margin-right: 25px;
    background: #fff;
    line-height: 1.7em;
    max-width: 50px;
    max-height: 50px;
}

.NavBar {
  background-color: #283e4a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6.5vh;
  min-height: 50px;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
}

.Confirmation {
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: black;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.loginForm {
  margin: auto;
  display: block;
  border-radius: 8px;
  padding: 40px 50px 20px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  font-size: calc(10px + 2vmin);
  background-color: #fff;
  width: 600px;
  height: 500px;
}

.registerForm {
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Container {
  margin: 100px;
  font-size: calc(10px + 2vmin);
  color: black;
}
.postEvent {
  margin: 100px;
  font-size: calc(10px + 2vmin);
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {

}

.profileDropdown {
  border-radius: 50px;
  background-color: black;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
